{% extends "composer/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-light btn-lg px-5" type="submit" style="margin-top: 5px;">Login</button> 
        <div style="margin-top: 20px;">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
        </small>
        </div>
    </form>

</div>


<footer>
    <p style="font-family: 'Courier New', Courier, monospace;">Created by ©SOACM</p>
</footer>

<!-- TradingView Widget -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
    {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
    },
    {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
    },
    {
        "description": "DOW",
        "proName": "CBOT_MINI:YM1!"
    },
    {
        "description": "DAX",
        "proName": "EUREX:FDAX1!"
    },
    {
        "description": "FTSE",
        "proName": "ICEEUR:Z1!"
    },
    {
        "description": "FTSEMIB",
        "proName": "INDEX:FTSEMIB"
    }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": true,
    "displayMode": "adaptive",
    "locale": "en"
}
    </script>
</div>
<!-- TradingView Widget END -->

{% endblock %}