{% extends "composer/layout.html" %}
{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="text-align: center;">
            {{ form.as_table }}
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button> 
        </fieldset>
    </form>
</div>

<footer>
    <p style="font-family: 'Courier New', Courier, monospace;">Created by ©SOACM</p>
</footer>

{% endblock %}