{% extends "composer/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

{% load static %}

<form action="{% url 'composerindex' %}" method="POST">

    <!-------------------------------------- Left-side strategy inputs -------------------------------------->
    
    {% csrf_token %}
    <div class="left">
        <div class="trigger">
            <!--Trigger-->
            <label for="trigger"></label>Choose a trigger:</label>
            <select name="trigger" id="trigger" style="margin-left: 12px; margin-top: 20px;">
                <option value="none">None</option checked>
                <option value="breakout">Breakout</option>
                <option value="reversal">Reversal</option>
            </select>
        </div>
        
        <div class="session">
            <!--Session-->
            <label for="starttime">Time window from:</label>
            <input type="number" name="starttime" value="12:00" min="0">
            <label for="endtime">To:</label>
            <input type="number" name="endtime" value="12:00" min="0">
        </div>

        <div class="stoploss">
            <label for=stoploss">Stop loss:</label>
            <input type="number" name="stoploss" value="0" min="0" style="margin-left: 60px;">
        </div>

        <div class="takeprofit">
            <label for="takeprofit">Take profit:</label>
            <input type="number" name="takeprofit" value="0" min="0" style="margin-left: 50px;">
        </div>

        <div class="tradeduration">
            <label for="tradeduration">Trade liquidation:</label>
            <input type="number" name="tradeliquid" value="1500" min="0" style="margin-left: 10px;">
        </div>

        <div class="pattern">
            <!--Pattern-->
            <label for="pattern"></label>Choose a pattern:</label>
            <select name="pattern" id="pattern" style="margin-left: 10px;">
                <option value="none">None</option>
                <option value="upclose">Up close</option>
                <option value="downclose">Down close</option>
                <option value="doji">Doji candle</option>
                <option value="insideday">Inside day</option>
                <option value="outsideday">Outside day</option>
                <option value="twohigher">Two higher highs and higher lows</option>
                <option value="twolower">Two lower highs and lower lows</option>
            </select>
        </div>

        <div class="direction">
            <!--Direction-->
            <input type="radio" id="longshort" name="direction" value="longshort" checked>
            <label for="direction">Long & Short</label>
            <br>
            <input type="radio" id="longonly" name="direction" value="longonly">
            <label for="direction">Long only</label>
            <br>
            <input type="radio" id="shortonly" name="direction" value="shortonly">
            <label for="direction">Short only</label>
        </div>

        <div class="submitbutton">
            <input type="submit" name="button" value="Generate">
            <script src="{% static 'composer/script.js' %}"></script>
        </div>   

        <!-- <div class="submitbutton">
            <input type="submit" name="button" value="Save">
        </div>    -->

        <footer class="footer">
            <p>Futures and Options trading has large potential rewards, but also a large potential risk. <br>
            You must be aware of the risks and be willing to accept them in order to invest in the stock/futures/options markets. <br>
            Do not trade with money you cannot afford to lose. </p>

            <p>Created by ©SOACM</p>
        </footer>

    </div>
    {% include "composer/strategy.html" %}
</form>

{% endblock %}